
@model IEnumerable<SeerBI.Web.Areas.Identity.Data.SeerBIWebUser>

@{
    ViewBag.Title = "Index";
}
<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

<h1> Registered Users </h1>

<table class="table">
    <thead bgcolor="#0d9ee0">
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profession)
            </th>


           
        </tr>
    </thead>
    <tbody>

     
    @foreach(var item in Model.Where(m => m.category == "Users"))
    {
         <tr bgcolor="#7bd1db">
              <td>
                
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.profession)
            </td>

        </tr>
        }
         <tbody>
    </table>
   
    

